


// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
// customize some Bootstrap variables
$primary: black;
$secondary: grey;

body {
     background-color: $primary;
}

